{$VPS_PUBLIC_IP} {
	tls {
		issuer acme {
			profile shortlived
			disable_tlsalpn_challenge
		}
	}
	encode zstd gzip

	handle /pair {
		reverse_proxy 10.77.77.2:5000
	}

	handle {
		reverse_proxy 10.77.77.2:3000
	}
}
